<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body class="grey-bg">
		<%- include("nav.ejs") %>

		<div class="white-bg">
			<% for(let i = 0; i < кЄАл™©л°Э.length; i++){ %>
			<div class="list-box">
				<h4>
					<a href="/detail/<%=кЄАл™©л°Э[i]._id%>"><%= кЄАл™©л°Э[i].title %></a>
					<a href="/edit/<%=кЄАл™©л°Э[i]._id%>">рЯЦЛпЄП</a>
				</h4>
				<p><%= кЄАл™©л°Э[i].content %></p>
			</div>
			<% } %>
		</div>
	</body>
</html>
